
canvas{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 20px;
  bottom: 20px;
}


body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 120%;
  line-height: 1.5;
  padding: 7em 5em;
  color: #000;
}

h2,
strong{
  color: rgba(0,0,0,0.6);
}


/* visited link */
a, a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #F26A67;
}

ul {
  list-style-type: none;
}
